<!DOCTYPE html>
<html>

<head>
<meta charset ="utf-8">
<title> Q U I S T </title>
{% load static %}
<link rel="icon" href="{% static "Images/QuistLogo.png"%}">
<link rel="stylesheet" type="text/css" href="{% static "DesignFrontend.css"%}" />   
</head>

<body>
    <div id="bg">
        <div id="rshape">
            {% load static %} <img src="{% static "Images/QuistLogo.png" %}" alt= "Logo" />
            
        </div>
        <div id="headerli">
            
            <h1>
                Q U I S T
            </h1>

            <p>
                a quiz with a twist
            </p>

        </div>

        <div class="container">
            <div class = "AutoAlign">
                <button class="selected"><B><a style ="color:#FFA500; text-decoration: none" href="/quiz/gameloading">Click here to start</a></B></button>
                <!--<button>Click here to start</button>-->
            </div>
        </div>
    </div>
</body>
</html>