<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset = "UTF-8">
    <title> QUIST - Quiz</title>
</head>
<link rel="icon" href="{% static "Images/QuistLogo.png"%}">
<link rel="stylesheet" type="text/css" href="{% static "DesignGL.css"%}" />  

<body>
    {% load static %} <img src="{% static "Images/QuistLogo.png" %}" alt= "Logo" />

    <div id="bg">
        <div id="headerli"> 
            <h1>Q U I S T</h1>
            <p>A quiz with a twist</p>
            <br>
            <br>
            <div class="startbox">
            <button class="Start"><B><a href="/quiz/gameend">Start</a></B></button>
            <!--<button>Start</button>-->
            </div>
            <div class="exitbox">
            <button id="exit"><B><a href="frontend">Exit</a></B></button>
            <!--<button>Exit</button>-->
            </div>
        </div>
        
    </div>
</body>
</html>