

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset = "UTF-8">
    <title> QUIST - Quiz</title>
</head>
<link rel="icon" href="{% static "images/QuistLogo.png"%}">
<link rel="stylesheet" type="text/css" href="{% static "DesignQuiz.css"%}" />  


<body>

        <div id="headerli">
            <div id="bg">
        </div>

        <label>
            <input type="checkbox"  />
            <div class="card">

                <div class="front">
                    {% load static %} <img src="{% static "images/New_logo.png" %}" alt= "Logo" />
                    <h2>She ____ your teacher.</h2>
                    <form action="" method=POST>
                        {% csrf_token %}
                        <input type ="submit" value="a. is" class="btn btn-check">
                        <input type ="submit" value="b. are" class="btn btn-check">
                        <input type ="submit" value="c. am" class="btn btn-check">
                    </form>
                    
                    <form action="" method=POST>
                        {% csrf_token %}
                    <input type ="submit" value="submit" class="btn btn-succes">
                    </form>

                </div>

                <div class="back">
                    <h1>Answer<h1>
                    <h3>Secret<h3>
                    <button id="exit"><B><a href="quiz4">next</a></B></button>
                    
                </div>
            </div>
        </label>

    </div>
</body>
</html>