h1 {
    color: rgb(255, 255, 255);
    font-family: "san-serif", "century gothic";
    font-size: 25px;
    text-align: center;
    margin-top: 2px;
  }
  p {
      font-family: "san-serif", "century gothic";
      font-size: x-small;
      color: rgba(255, 255, 255,0.5);
      margin-top: 0px;
      text-align: center;
      margin-bottom: 0%;
    }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 20%;
  }


  .circle1 {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #FFA500;
  border-radius: 50%;
  border: 5px solid white;
  margin-left: 1300px
  }

  .circle2 {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgb(75, 49, 1);
  border-radius: 50%;
  border: 5px solid white;
  border-color:white;
  }

  .circle3 {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #023020;
  border-radius: 50%;
  border: 5px solid white;
  border-color:white;
  }

body {
    background-image: url(images/bgrshapes.png);
    background-color: rgb(255,242,204);
    font-family: Century Gothic;
    font-size: 50px;
  	color: #222;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%; 
        width: 100%;
        background: rgb(215, 38, 19);
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 25px;
    }

    .card .back {
        background: rgb(69, 159, 36);
        color: #FFF;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

:checked + .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card .back {
  background: rgb(69, 159, 36);
  color: #FFF;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

:after + input{
  display:none;
}

form{
  color: rgb(255, 255, 255);
  font-family: "san-serif", "century gothic";
}

h2 { 
  margin-top: 0;
  font-family: Century Gothic;
  font-size: 20px;
  color:#FFF
}

h3 {
  text-align: center;
  height: 100px;
}

input {
  font-family:"san-serif", "century gothic" ;
  position: relative;
  background-color: #FFA500;
  border-radius: 5px;
  border-color: rgba(255,255,255,0);
  font-size: large;
  cursor: pointer;
}

.success :active {
  color:bisque;
}